*{
  margin:0;
  padding:0;
  font-family:cursive;
  text-decoration: none;
}
body{
  background-color:#212529;
}
.middle{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.card{
  cursor: pointer;
  width: 340px;
  height:480px;
}
.font, .back{
width: 100%;
height: 100%;
overflow: hidden;
backface-visibility: hidden;
position: absolute;
transition: transform 0.6s linear;
}
.font img{
  height: 100%;
}
.font{
  transform: perspective(600px) rotateY(0deg);
}
.back{
  background-color: #f1f1f1;
  transform: perspective(600px) rotateY(180deg);
}
.back-content{
  color:#2c3e50;
  text-align: center;
  width: 100%;
}
.sm{
  margin: 20px 0;  
}
.sm a{
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color:#2c3e50;
  font-size: 18px;
  transition: 0.45s;
  border-radius: 50%;
}
.sm a:hover{
  background: #2c3e50;
  color: white
}
.card:hover>.font{
transform: perspective(600px) rotateY(-180deg);
}
.card:hover>.back{
transform: perspective(600px) rotateY(0deg);
}
a>i>img{
  width: 20px;
  height:20px;
}